<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>
<style>
    body {
        padding: 20px;
    }


    h1{
        text-align: center;
    }


    #journee_facture {
        text-align: center;
    }





</style>
<body>


<img src="http://louvre.thomas-good.fr/web/bundles/louvrepages/img/logo-louvre.jpg" width="300" height="300" alt="logo" />


<h1>Billeterie</h1>


<div id="journee_facture" class="">
    {% if reservation.demiJournee == 1 %}
        <p>Vous avez réservé pour la demi journée du {{ reservation.date|date('d-m-Y') }}</p>
    {% elseif reservation.demiJournee == 0 %}
        <p>Vous avez réservé pour la journée entière du {{ reservation.date|date('d-m-Y') }}</p>
    {% endif %}
</div>
<div id="qrcode">
    <img src="{{ qr_code_data_uri('frgegergergregreg', {size: 300 }) }}" />
</div>
<div id="billets_facture" class="facture_step">
    <div id=billet">
        <ul style="list-style-type: none">
            <li><div class="separation"><span>Billet</span></div></li>
            <li><p>Nom : {{ billet.nom }}</p></li>
            <li><p>Prénom : {{ billet.prenom }}</p></li>
        </ul>
    </div>
</div>
<div id="qrcode" style="display: inline-block">
    <img src="{{ qr_code_data_uri(billet.code, {size: 150 }) }}" />
</div>
</body>
</html>
