{% extends 'base.html.twig' %}

{% block title %}Louvre{% endblock %}

{% block body %}

    <div id="msform" class="col-sm-12 col-md-6">
        {{ form_start(form) }}
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">Date</li>
            <li>Billets</li>
            <li>Email</li>
            <li>Paiement</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">Selectionner une date</h2>
            <div id="sandbox-container" class="calendrier">
                <div class="input-daterange input-group" id="datepicker">
                    {{ form_widget(form.date, {'attr': {'name':'start', 'readonly':'readonly'}}) }}
                </div>
            </div>
            <div class="demi_journee_form">
                <p>Pour accéder au musée en <span class="font-weight-bold">demi journée</span> <br>(à partir de 14h) cochez la case :</p>
                {{ form_widget(form.demiJournee) }}
            </div>
            <button type="button" name="nexte" class="nexte action-button">suivant</button>
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Billets</h2>
            <button type="button" class="btn btn-primary" id="afficher_tarifs">Afficher les tarifs</button>
            <div class="infos_billets">
                {{ include('louvre/liste_prix.html.twig')}}
            </div>
            <ul class="billets">
                <li class="billet" id="model_billet">{{ include('louvre/collectionstyle.html.twig', { 'form': form.billets.vars.prototype }) }}</li>
            </ul>
            <button type="button" name="previous" class="previous action-button">retour</button>
            <button type="button" name="nexte" class="nexte action-button">suivant</button>
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Email</h2>
            {{ form_widget(form.email) }}
            <button type="button" name="previous" class="previous action-button">retour</button>
            {{ form_row(form.save, { 'attr': {'class': 'float-right action-button'} }) }}
        </fieldset>
        {{ form_end(form) }}
    </div>

{% endblock %}
    {% block javascripts %}

        {{ encore_entry_script_tags('app') }}

        <script>
            $('#sandbox-container').datepicker({
                format: 'dd-mm-yyyy',
                datesDisabled: {{ dates|json_encode|raw }},
                daysOfWeekDisabled: '2',
                language: "fr",
                orientation: "auto",
                startDate : new Date()
            });
        </script>
        <script>
            $('#sandbox-container').on('changeDate', function(event) {
                const today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()).getTime();
                const selected = new Date(event.date).getTime();
                const hour = new Date().getHours();
                if ((today === selected) && hour > 14) {
                    $("#reservation_demiJournee").prop( "checked", true );
                    $("#reservation_demiJournee").prop( "disabled", true );
                }
                else {
                    $("#reservation_demiJournee").prop( "checked", false );
                    $("#reservation_demiJournee").prop( "disabled", false );
                }
            });
        </script>
    {% endblock %}