{% extends 'base.html.twig' %}

{% block title %}Louvre!{% endblock %}

{% block body %}

    <div id="msform" class="col-xs-12 col-lg-6">
        {{ form_start(form) }}
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">Date</li>
            <li>Billets</li>
            <li>Email</li>
            <li>Paiement</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">Selectionner une date</h2>
            <div id="sandbox-container" class="calendrier">
                <div class="input-daterange input-group" id="datepicker">
                    {{ form_widget(form.date, {'attr': {'name':'start', 'readonly':'readonly'}}) }}
                </div>
            </div>
            <div class="demi_journee_form">
                <p>Pour accéder au musée en <span class="font-weight-bold">demi journée</span> <br>(à partir de 14h) cochez la case :</p>
                {{ form_widget(form.demiJournee) }}
            </div>
            <button type="button" name="nexte" class="nexte action-button">suivant</button>
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Billets</h2>
            <ul class="billets">
                <li class="billet" id="model_billet">{{ include('louvre/collectionstyle.html.twig', { 'form': form.billets.vars.prototype }) }}</li>
            </ul>
            <button type="button" name="previous" class="previous action-button">retour</button>
            <button type="button" name="nexte" class="nexte action-button">suivant</button>
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Email</h2>
            {{ form_widget(form.email) }}
            <button type="button" name="previous" class="previous action-button">retour</button>
            {{ form_row(form.save, { 'attr': {'class': 'float-right action-button'} }) }}
        </fieldset>
        {{ form_end(form) }}
    </div>

{% endblock %}
    {% block javascripts %}

        {{ encore_entry_script_tags('app') }}

        <script>
            $('#sandbox-container').datepicker({
                format: 'dd-mm-yyyy',
                datesDisabled: {{ dates|json_encode|raw }},
                daysOfWeekDisabled: '2',
                language: "fr",
                orientation: "auto",
                startDate : new Date()
            });
        </script>

        <script>
            var $collectionHolder;

            // setup an "add a tag" link
            var $addTagButton = $('<button type="button" class="btn btn-info">Ajouter un billet</button>');
            var $newLinkLi = $('<li></li>').append($addTagButton);

            jQuery(document).ready(function() {
                // Get the ul that holds the collection of tags
                $collectionHolder = $('ul.billets');

                // add the "add a tag" anchor and li to the tags ul
                $collectionHolder.append($newLinkLi);

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionHolder.data('index', $collectionHolder.find(':input').length);

                $addTagButton.on('click', function(e) {
                    // add a new tag form (see next code block)
                    addTagForm($collectionHolder, $newLinkLi);
                });
            });


            function addTagForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $("#model_billet").html();

                // get the new index
                var index = $collectionHolder.data('index');

                var newForm = prototype;
                // You need this only if you didn't set 'label' => false in your tags field in TaskType
                // Replace '__name__label__' in the prototype's HTML to
                // instead be a number based on how many items we have
                // newForm = newForm.replace(/__name__label__/g, index);

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                newForm = newForm.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li class="billet"></li>').append(newForm);
                $newLinkLi.before($newFormLi);
                addTagFormDeleteLink($newFormLi);
            }


            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormButton = $('<button class="btn btn-warning" type="button">Supprimer billet</button>');
                $tagFormLi.append($removeFormButton);

                $removeFormButton.on('click', function(e) {
                    // remove the li for the tag form
                    $tagFormLi.remove();
                });
            }
        </script>
    {% endblock %}