{% extends 'base.html.twig' %}

{% block title %}Louvre!{% endblock %}

{% block body %}

        <!-- multistep form -->
    <div id="msform" class="col-xs-12 col-lg-6">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">Date</li>
            <li class="active">Billets</li>
            <li class="active">Email</li>
            <li class="active">Paiement</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">Recapitulatif</h2>
            <div id="sandbox-container" class="calendrier">
                {% if reservation.demiJournee == 1 %}
                    <p>Vous souhaitez réserver pour la demi journée du {{ reservation.date|date('d-m-Y') }}</p>
                {% elseif reservation.demiJournee == 0 %}
                    <p>Vous souhaitez réserver pour la journée entière du {{ reservation.date|date('d-m-Y') }}</p>
                {% endif %}
            </div>

            <div class="demi_journee_form">
                <p></p>
            </div>
            <button type="button" onclick="window.location.href='http://localhost:8000/louvre'" name="previous" class="previous action-button">retour</button>
            <div class="paiement_form">
                <form action="{{ path('paiement') }}" method="POST">
                    <input type="hidden" name="reservations" value="lool">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_OlhgfVOQRiXeNJu77afAsrtL"
                            data-amount="{{ reservation.prixTotal }}00€"
                            data-currency="EUR"
                            data-email="{{ reservation.email }}"
                            data-label="Payer"
                            data-allow-remember-me="false"
                            data-name="Musée du Louvre"
                            data-description="Billets {{ reservation.prixTotal }}€"
                            data-image="http://www.iphon.fr/public/2009/Q4/.musee-louvre-iphone-1_s.jpg"
                            data-locale="auto">
                    </script>
                </form>
            </div>
        </fieldset>
    </div>


{% endblock %}
    {% block javascripts %}

        {{ encore_entry_script_tags('app') }}

    {% endblock %}